// html {
//     font-size: 20px;
// }
// @media only screen and (min-width: 401px) {
//     html {
//         font-size: 25px !important;
//     }
// }
// @media only screen and (min-width: 428px) {
//     html {
//         font-size: 26.75px !important;
//     }
// }
// @media only screen and (min-width: 481px) {
//     html {
//         font-size: 30px !important;
//     }
// }
// @media only screen and (min-width: 569px) {
//     html {
//         font-size: 35px !important;
//     }
// }
// @media only screen and (min-width: 641px) {
//     html {
//         font-size: 40px !important;
//     }
// }
// @unit: 20rem;
.mutil_selected{display: inline-block;width: 300px;border: 1px solid #ccc;height: 300px;overflow: hidden;overflow-y: auto;}
.mutil_selected p{height: 30px;line-height: 30px;font-size: 14px;padding-left: 20px;border-bottom: 1px solid #eee;box-sizing: border-box;cursor: pointer;}
.mutil_selected .selected{background: #8585AD;color: #fff;border-bottom: 1px solid #fff;}
.test{border: 1px solid #fff;}